:root {
    --main-white: #FFFFFF;
    --main-black: #212121;
    --btn-header: #770303;
    --background-footer: #000000;
    --border-input: #202E33;
    --border-input-mobile: rgba(32, 46, 51, 1);
    --text-black-mobile: rgba(0, 0, 0, 1);
    --text-link: rgba(0, 123, 255, 1);
    --color-primary: #C40000;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-black);
}

.notify-error {
    color: red;
}

.notify-success {
    color: green;
}

.notification {
    position: absolute;
    top: 130px;
    right: 5%;
    animation: fadeOut linear 6s 2s forwards;

    .alert {
        padding: 5px 10px;
        border-radius: 10px;
        color: var(--main-white);

        &.alert-success {
            background-color: rgb(11, 201, 11);
        }

        &.alert-error {
            background-color: red;
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.paginate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        cursor: pointer;

        a {
            height: 28px;
            font-family: "SVN-Gilroy-Bold";
            font-style: normal;
            font-size: 20px;
            line-height: 28px;
            color: #211E3B;
        }
    }

    li:hover,
    .paginate-active {
        border-radius: 50%;
        background-color: #FFE4E4;

        a {
            color: #C40000;
        }
    }

    .arrow-paginate {
        border-radius: 50%;
        width: 40px;
        height: 40px;

        a {
            color: white;
        }
    }

    .arrow-paginate:hover {
        opacity: 0.8;

        a {
            color: white;
        }
    }

    li:first-child {
        background-color: #C40000;
    }

    li:last-child {
        background: #E5E5E5;
    }

    li+li {
        margin-left: 10px;
    }
}
