:root {
    --main-white: #FFFFFF;
    --main-black: #212121;
    --main-red: red;
    --main-green: rgb(11, 201, 11);
    --main-gray: gray;
    --btn-header: #770303;
    --background-white-1: #E5E5E5;
    --background-white-2: #FFE4E4;
    --background-footer: #000000;
    --border-input: #202E33;
    --border-input-mobile: rgba(32, 46, 51, 1);
    --text-black-mobile: rgba(0, 0, 0, 1);
    --box-shadow-header: rgba(0, 0, 0, 0.1);
    --text-link: rgba(0, 123, 255, 1);
    --text-hover: #C40000;
    --text-gray: rgba(98, 96, 96, 1);
    --placeholder-input: rgba(137, 137, 137, 1);
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-black);
}

.notify-error {
    color: var(--main-red);
}

.notify-success {
    color: var(--main-green);
}

.notification {
    position: absolute;
    top: 130px;
    right: 5%;
    animation: fadeOut linear 6s 2s forwards;
    position: fixed;

    .alert {
        padding: 5px 10px;
        border-radius: 10px;
        color: var(--main-white);

        &.alert-success {
            background-color: var(--main-green);
        }

        &.alert-danger {
            background-color: var(--main-red);
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.paginate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        cursor: pointer;

        a {
            height: 28px;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            color: var(--border-input);
        }
    }

    li:hover,
    .paginate-active {
        border-radius: 50%;
        background-color: var(--background-white-2);

        a {
            color: var(--text-hover);
        }
    }

    .arrow-paginate {
        border-radius: 50%;
        width: 40px;
        height: 40px;

        a {
            color: var(--main-white);
        }
    }

    .arrow-paginate:hover {
        opacity: 0.8;

        a {
            color: var(--main-white);
        }
    }

    li:first-child {
        background-color: var(--text-hover);
    }

    li:last-child {
        background: var(--background-white-1);
    }

    li+li {
        margin: 0 0 0 10px;
    }
}
